*{
	margin:0;
	padding:0;
	font-family: "微软雅黑";
}

.Ewrap>.header{
	background-color: #F6F8F8;
	overflow:hidden;
	position: absolute;
    width: 100%;
    left: 0;
    top: 0;
}

.Ewrap .header div{
	float:left;
	line-height:65px;
	padding:0 30px;
	cursor:pointer;
}

.Ewrap .BGwhith{
	background-color:#ffffff;
}

.Ewrap #body1{
	width:780px;
	margin:81px auto 0;
}

.Ewrap .wrapOne{
	width:100%;
	padding: 20px 0;
	overflow: hidden;
	line-height:32px;
}

.Ewrap .wrapTwo{
	width:50%;
	padding: 20px 0;
	overflow: hidden;
	float: left;
	line-height:32px;
}

.Ewrap .list-sp{
	width:140px;
	display: block;
	text-align:right;
}


.fl{
	float: left;
}

.Ewrap .inf-em{
	color:#f30303;
	padding-right:10px;
}

.Ewrap .list-sp-textdd input,.Ewrap .list-sp-textdd select{
	border:1px solid #d7d7d7;
	border-radius:5px;
	height:30px;
	width: 200px;
	color:#000;
	padding-left:10px;
}

.Ewrap .list-sp-textdd .long{
	width:586px;
}

.Ewrap .wrapOne textarea{
	width:586px;
	height:160px;
	border-radius:5px;
	border:1px solid #d7d7d7;
	padding:5px;
	overflow:hidden; 
	resize:none;
}

.Ewrap .s-box{
	width:600px;
	position: fixed;
	left:50%;
	top:50%;
	margin-left:-300px;
	margin-top:-81px;
	background-color:#FFFFFF;
	z-index: 9989;
	font-size: 13px;
	line-height: 1.42857143;
}

.Ewrap .s-box .header{
	padding: 12px 24px;
    background-color: #F6F8F8;
    color: #333;
    min-height: 16.43px;
    border-bottom: none;
}

.Ewrap .s-box .body{
	max-height: 500px;
    overflow-y: auto;
    position: relative;
    padding: 15px;
    text-align: center;
    font-size:16px;
}

.Ewrap .s-box .bottom{
	width:125px;
	text-align: center;
	background-color: #fa8564;
    border-color: #fa8564;
    color: #FFFFFF;
    font-size: 20px;
    line-height: 35px;
    border-radius:5px;
    display: block;
    margin:15px auto;
    cursor:pointer;
}

.Ewrap .footer{
	overflow:hidden;
	width:408px;
	margin:15px auto;
}

.Ewrap .footer .bottom{
	width: 120px;
	height: 40px;
	line-height:40px;
	margin:0px 8px;
	text-align: center;
	color: #FFFFFF;
	float: left;
	border-radius:5px;
	cursor: pointer;
}

.Ewrap .s-box #cancel{
	margin:15px 15px 15px 168px;
}

.Ewrap .footer .color-h,.Ewrap .s-box .color-h{
	background-color:#dadada;
}

.Ewrap .footer .color-b{
	background-color:#6c9fce;
}

.Ewrap .footer .color-g{
	background-color:#53b27a;
}

.Ewrap .mark {
	position: fixed;
	z-index: 998;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background: #000;
	opacity: .6;
}

.Ewrap .regular-radio ,.regular-radios ,.regular-rdi-cause ,.regular-rdi-layer ,.contract .regular-rdi-rents{ display: none;}

.Ewrap .regular-radio + span ,.regular-radios + span.radio-mtd ,.regular-rdi-cause + span.radio-mt-cause ,.regular-rdi-layer + span.radio-mt-layer ,.contract .regular-rdi-rents + span {
	-webkit-appearance: none;
	background-color: #fff;
	border: 1px solid #cacece;
	padding: 9px;
	border-radius: 50px;
	display: inline-block;
	position: relative;
	top:5px
}

.Ewrap .regular-radio:checked + span:after ,.regular-radios:checked + span:after ,.regular-rdi-cause:checked + span:after ,.regular-rdi-layer:checked + span:after ,.contract .regular-rdi-rents:checked + span:after{
	content: ' ';
	width: 12px;
	height: 12px;
	border-radius: 50px;
	position: absolute;
	top: 3px;
	background: #53b279;
	left: 3px;
	font-size: 32px;
}

/**iframe弹框效果*/
.wfPopWin {
  	position: absolute;
  	top:0;
  	left:0;
  	border:none;
  	width: 100%;
  	height: 593px;
  	display: none;
}
