<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:dubbo="http://code.alibabatech.com/schema/dubbo"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
	http://code.alibabatech.com/schema/dubbo 
	http://code.alibabatech.com/schema/dubbo/dubbo.xsd">
	
	<dubbo:application name="${maven.dubbo.market.lease.consumer.application.name}" owner="${maven.dubbo.market.lease.consumer.application.owner}" />
 	<dubbo:registry address="${maven.dubbo.market.registry.address}"  />
 	<dubbo:consumer retries="${maven.dubbo.market.lease.consumer.reference.retries}"  init="${maven.dubbo.market.lease.consumer.reference.init}" 
 		loadbalance="${maven.dubbo.market.lease.consumer.reference.loadbalance}" async="${maven.dubbo.market.lease.consumer.reference.async}" 
 		cache="${maven.dubbo.market.lease.consumer.reference.cache}" group="${maven.dubbo.market.lease.consumer.reference.group}"
		version="${maven.dubbo.market.lease.consumer.reference.version}" 
 		timeout="${maven.dubbo.market.lease.consumer.reference.timeout}"
 		check="${maven.dubbo.market.lease.consumer.reference.check}" />
 	
 	<!-- 系统管理 begin-->	
 	<dubbo:reference id="sysDictionaryService" interface="cn.gdeng.market.service.admin.SysDictionaryService" check="false"/> 
 	<dubbo:reference id="sysUserService" interface="cn.gdeng.market.service.admin.SysUserService" check="false"/> 
 	<dubbo:reference id="sysOrgService" interface="cn.gdeng.market.service.admin.SysOrgService" check="false"/> 
 	<dubbo:reference id="sysUserPostService" interface="cn.gdeng.market.service.admin.SysUserPostService" check="false"/> 
 	<dubbo:reference id="loginService" interface="cn.gdeng.market.service.admin.LoginService" check="false"/> 
 	<dubbo:reference id="sysUserOrgService" interface="cn.gdeng.market.service.admin.SysUserOrgService" check="false"/>
 	<!-- 系统管理  end-->
 	
</beans>
 